$purple: #362D5F;
$purpleLight: #362D5F1A;
$purpleMedium: #362D5F66;
$purpleOP86: #362D5FDB;
$darkPurple: #211b40;
$purpleBackground: #595675;

$white: #fff;

$whiteOP28: #ffffff47;
$blackMedium: #000000D1;
