@import 'colors';

$loadedFamilyRegular: StratosLCWeb-Regular, Arial, sans-serif;
$loadedFamilyMedium: StratosLCWeb-Medium, Arial, sans-serif;
$loadedFamilyBold: StratosLCWeb-Bold, Arial, sans-serif;

// =================== Sizes
$adsHeightWeb: 39.125em;
$adsHalfHeight: 19.5625em;

// =================== BREAKPOINTS
$min-width: xs;
$max-width: xl;
$middle: md;
$small: sm;
$desktop-breakpoint: lg;
$large-desktop-breakpoint: xxl;
$grid-breakpoints: (
	xs: 320px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px
);


//mixins

@mixin icon-create($icon-name, $icons-size) {
	transition: all 0.3s ease-in;
	&:before {
		width: $icons-size;
		height: $icons-size;
		content: '';
		display: inline-block;
		background: url('~/static/icon/' + $icon-name + '.svg') no-repeat center;
	}

	&:hover {
		transform: scale(1.1);
	}
}
