@import 'colors';

$loadedFamilyRegular: StratosLCWeb-Regular, Arial, sans-serif;
$loadedFamilyMedium: StratosLCWeb-Medium, Arial, sans-serif;
$loadedFamilyBold: StratosLCWeb-Bold, Arial, sans-serif;

// =================== SIZES


// =================== BREAKPOINTS
$min-width: xs;
$max-width: xl;
$desktop-breakpoint: lg;
$large-desktop-breakpoint: xxl;
$grid-breakpoints: (
	xs: 320px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px
);
